version: '3.8'

services:
  mysql-container:
    image: mysql:8
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: testdb
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  backend:
    container_name: backend
    build:
      context: ./backend
    ports:
      - "3001:3001"
    environment:
      DB_HOST: mysql-container
      DB_USER: root
      DB_PASSWORD: rootpassword
      DB_NAME: testdb
      DISCORD_WEBHOOK_ID: ${DISCORD_WEBHOOK_ID}
      DISCORD_WEBHOOK_TOKEN: ${DISCORD_WEBHOOK_TOKEN}
    depends_on:
      - mysql-container
    command: /usr/local/bin/wait-for-it.sh mysql-container:3306 -- npm start

  frontend:
    container_name: frontend
    build:
      context: ./frontend
      args:
        REACT_APP_API_URL: "http://localhost:3001"
    ports:
      - "3002:80"
    environment:
      REACT_APP_API_URL: "http://localhost:3001"

volumes:
  mysql-data:
